@{
    ViewBag.Title = "Dashboard Page";
}


<div class="row">
    <div class="col-md-4">
            <ul class="nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Services", "Index", "Service")</li>
                <li>@Html.ActionLink("Requests", "Index", "Request")</li>
                <li>@Html.ActionLink("Businesses", "Index", "Business")</li>
            </ul>
    </div>
</div>